@model IEnumerable<MoviePoint.Models.Producer>

	@{
		ViewData["Title"] = "Index";
		Layout = "_NavAndFooterLayout";
	}

	<section class="breadcrumb-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-area-content">
					<h1>Producers Page</h1>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="portfolio-area pt-60">
		<div class="container">
		@if (User.IsInRole("Admin"))
		{
			<div class="mx-auto text-center col-md-4">
				<a class="theme-btn" style="width:100%;" asp-action="Insert" asp-controller="Producer">Add New Producer</a>
			</div>
		}
		
			<div class="row portfolio-item">
				@foreach (var item in Model)
				{
					<div class="col-lg-3 col-md-4 col-sm-12 soon released">
					<div class="single-portfolio" style="margin-bottom:20px;">
						<div class="single-portfolio-img">
								<img src="@item.ProfilePicture" alt="portfolio" />
							</div>
							<div class="portfolio-content">
								<h2 class="my-3">@item.FullName</h2>
								<p class="mb-3">@item.Bio</p>
							</div>
						@if (User.IsInRole("Admin"))
						{
							<div class="d-flex justify-content-around">
								<a class="theme-btn" asp-action="Update" asp-controller="Producer" asp-route-id="@item.Id">Edit</a>
								<a class="theme-btn" asp-action="Delete" asp-controller="Producer" asp-route-id="@item.Id">Delete</a>
							</div>
						}
						
						</div>

					</div>
				}
			</div>
		</div>
	</section>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
